form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    gap: 20px;
}

form > label {
    color: #f2e9e4;
    font-size: 32px;
}

form > input {
    padding: 10px;
    width: 250px;
}

.filename-error {
    display: none;
}

span.error {
    display: block;
    color: #ff8f8f;
    font-weight: 800;
}
